:root {
  --clr-dark: #222;
  --clr-dark-60: #22222299;
  --clr-dark-80: #222222cc;
  --clr-white: #fff;
  --clr-white-60: #ffffff99;
  --clr-svg: #00000066;
  --clr-price: #000000cc;
  --clr-menu: #999;
  --small-card-bg: #ebebeb;
  --big-card-bg: #343332;
  --header-bg: #eee;

  --ff-primary: 'Fira Sans', sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;

  --fs-small: 0.75rem;
  --fs-normal: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  --fs-large: clamp(2.25rem, 1.8759rem + 1.5962vw, 3.3125rem);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-dark);
}

img {
  display: block;
  max-width: 90%;
}

/* ----- Animation Utilities ----- */
.animation-fade-in {
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* ----- Utility Classes ----- */
.btn {
  font-family: var(--ff-primary);
  padding: 0.75rem 1.875rem;
  font-weight: var(--fw-medium);
  border-radius: 3px;
  border: none;
}

/* ----- Nav ----- */
.nav {
  background: var(--header-bg);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
  padding: 1rem 0.75rem 2rem;
  font-size: var(--fs-small);
  color: var(--clr-dark);
}

.nav__logo {
  padding: 0.75rem 0;
}

.nav__list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  list-style-type: none;
  color: var(--clr-menu);
}

.nav__list-items--selected {
  font-weight: var(--fw-medium);
  color: var(--clr-dark);
}

.nav__list-items {
  cursor: pointer;
}

.nav__btn--style {
  border: 1px solid var(--clr-dark);
  animation: vibrate 0.3s linear infinite both;
  cursor: not-allowed;
}

.nav__mobile-menu {
  display: none;
}

@media screen and (width < 1025px) {
  .nav__list-container,
  .nav__btn--style {
    display: none;
  }

  .nav__mobile-menu {
    display: block;
    cursor: pointer;
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/* ----- Header ----- */
.header {
  background: var(--header-bg);
  margin-bottom: clamp(2.25rem, 1.2817rem + 4.1315vw, 5rem);
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  width: min(80%, 1100px);
  padding: 1rem 1rem 0;
  margin-inline: auto;
  overflow: hidden;
}

.header__title {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
}

.header__text {
  font-size: var(--fs-normal);
  margin-bottom: 2.5rem;
  color: var(--clr-dark-80);
}

.header__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5625rem;
  padding: 0.5rem 0.25rem;
  min-width: 8rem;
  font-family: var(--ff-primary);
  color: var(--clr-white);
  background: var(--clr-dark);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.header__btn--animation-fade-in-left {
  animation: fade-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.header__btn--animation-fade-in-right {
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.header__phone--fade-in-bottom {
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media screen and (width > 1176px) {
  .header__text {
    width: 89%;
  }
}

@media screen and (width < 427px) {
  .header__container {
    width: 90%;
  }
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ----- Main ----- */
.main {
  margin-bottom: clamp(2.25rem, 1.2817rem + 4.1315vw, 5rem);
}

.main__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: min(95%, 1100px);
  margin-inline: auto;
}

.main__container :nth-child(4) {
  margin-bottom: 1.5rem;
}

.main__header {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  justify-self: center;
  margin-bottom: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  grid-column: 1 / 5;
}

.main__small-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 23.75rem;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px #00000014;
  background-color: var(--small-card-bg);
}

.main__img {
  max-width: 50%;
  margin: auto 0;
}

.main__product {
  font-size: 1.375rem;
  font-weight: var(--fw-bold);
}

.main__price {
  font-size: var(--fs-normal);
  color: var(--clr-price);
  padding: 1rem 0;
}

.main__big-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: auto / span 2;
  height: 23.75rem;
  color: var(--clr-white);
  border-radius: 3px;
  border: 1px solid var(--clr-white-60);
  background: var(--big-card-bg);
}

.main__title {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.1rem;
  color: var(--clr-white);
  margin-bottom: 0.5rem;
}

.main__text {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  color: var(--clr-white-60);
}

.main__btn--style {
  color: var(--clr-white-60);
  border: 1px solid var(--clr-white-60);
  background-color: var(--big-card-bg);
  cursor: pointer;
}

@media screen and (width < 1025px) {
  .main__small-card,
  .main__big-card {
    height: 20rem;
  }
}

@media screen and (width < 908px) {
  .main__small-card {
    height: 15.625rem;
    grid-column: auto / span 2;
  }

  .main__big-card {
    height: 13.5rem;
    grid-column: auto / span 4;
  }
}

/* ----- Footer ----- */
.footer {
  background-image: url(./assets/footer-bg.svg);
  background-size: cover;
}

.footer__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: min(95%, 1100px);
  margin-inline: auto;
}

.footer__sub-container {
  width: 49.27%;
  margin: 2rem 0;
  padding: 1.5rem;
  text-wrap: balance;
  background-color: var(--clr-white);
  border-radius: 3px;
}

.footer__header {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
  margin-bottom: 1rem;
}

.footer__title {
  font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  font-weight: var(--fw-bold);
  color: var(--clr-dark-80);
  margin-bottom: 0.5rem;
}

.footer__text {
  font-size: 0.875rem;
  font-weight: var(--fw-medium);
  color: var(--clr-dark-60);
  margin-bottom: 1rem;
}

.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__form-item {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.footer__form-item:nth-child(3) {
  margin-bottom: 2rem;
}

.footer__form-input {
  width: 100%;
  border: none;
}

.footer__form-btn {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

@media screen and (width < 908px) {
  .footer__sub-container {
    width: 100%;
  }
}
