:root {
  --clr-dark: #222;
  --clr-dark-60: #22222299;
  --clr-dark-80: #222222cc;
  --clr-white: #fff;
  --clr-white-60: #ffffff99;
  --clr-svg: #00000066;
  --clr-price: #000000cc;
  --clr-menu: #999;
  --small-card-bg: #ebebeb;
  --big-card-bg: #343332;
  --header-bg: #eee;

  --ff-primary: 'Fira Sans', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-small: 0.75rem;
  --fs-normal: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  --fs-large: clamp(2.25rem, 1.8759rem + 1.5962vw, 3.3125rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-dark);
}

img {
  display: block;
  max-width: 90%;
}

/* ----- Animation Utilities ----- */
.animation-fade-in {
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.animation-fade-in-right {
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-fade-in-left {
  animation: fade-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-fade-in-bottom {
  animation: fade-in-bottom 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation-vibrate {
  animation: vibrate 0.3s linear infinite both;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.btn {
  font-family: var(--ff-primary);
  padding: 0.75rem 1.875rem;
  font-weight: var(--fw-medium);
  border-radius: 3px;
  border: none;
}

/* ----- Nav ----- */
.nav-wrapper,
.header-wrapper {
  background: var(--header-bg);
}

.nav-wrapper__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
  padding: 1rem 0.75rem 3rem;
  font-size: var(--fs-small);
  color: var(--clr-dark);
}

.nav-wrapper__logo {
  padding: 0.75rem 0;
}

.nav-wrapper__list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  list-style-type: none;
  color: var(--clr-menu);
}

.nav-wrapper__list-container :first-child {
  font-weight: var(--fw-medium);
  color: var(--clr-dark);
}

.list-wrapper__list-items {
  cursor: pointer;
}

.nav-wrapper__btn {
  border: 1px solid var(--clr-dark);
  cursor: not-allowed;
}

.nav-wrapper__mobile-menu {
  display: none;
}

@media (width < 1024px) {
  .nav-wrapper__list-container,
  .nav-wrapper__btn {
    display: none;
  }

  .nav-wrapper__mobile-menu {
    display: block;
    cursor: pointer;
  }
}

/* ----- Header ----- */
.header-wrapper {
  margin-bottom: 5rem;
}

.header-wrapper__header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  width: 38%;
  margin-inline: auto;
  overflow: hidden;
}

.header-wrapper__title {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  margin-bottom: 0.4375rem;
}

.header-wrapper__text {
  font-size: var(--fs-normal);
  margin-bottom: 2.5rem;
  line-height: 150%;
  color: var(--clr-dark-80);
}

.header-wrapper__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.header-wrapper__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5625rem;
  padding: 0.5rem 0.25rem;
  width: 8.125rem;
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  color: var(--clr-white);
  background: var(--clr-dark);
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
}

@media screen and (width < 1024px) {
  .header-wrapper__header-container {
    width: 42%;
  }
}

@media screen and (width < 886px) {
  .header-wrapper__header-container {
    width: 47%;
  }
}

@media screen and (width < 769px) {
  .header-wrapper {
    margin-bottom: 3rem;
  }
}

@media screen and (width < 750px) {
  .header-wrapper__header-container {
    width: 49%;
  }
}

@media screen and (width < 708px) {
  .header-wrapper__header-container {
    width: 51%;
  }
}

@media screen and (width < 670px) {
  .header-wrapper__header-container {
    width: 53%;
  }
}

@media screen and (width < 644px) {
  .header-wrapper__header-container {
    width: 55%;
  }
}

@media screen and (width < 606px) {
  .header-wrapper__header-container {
    width: 56%;
  }
}

@media screen and (width < 591px) {
  .header-wrapper__header-container {
    width: 58%;
  }
}

@media screen and (width < 565px) {
  .header-wrapper__header-container {
    width: 60%;
  }
}

@media screen and (width < 542px) {
  .header-wrapper__header-container {
    width: 71%;
  }
}

@media screen and (width < 438px) {
  .header-wrapper__header-container {
    width: 81%;
  }
}

/* ----- Main ----- */
.main-wrapper {
  margin-bottom: 5rem;
}

.main-wrapper__main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: min(80%, 1100px);
  margin-inline: auto;
}

.main-wrapper__main-container :nth-child(4) {
  margin-bottom: 1.5rem;
}

.main-wrapper__header {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  justify-self: center;
  margin-bottom: 2rem;
  grid-column: 1 / 5;
}

.main-wrapper__small-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 23.75rem;
  width: auto;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 0px #00000014;
  background-color: var(--small-card-bg);
}

.main-wrapper__img {
  max-width: 50%;
  margin: auto 0;
}

.main-wrapper__product {
  font-size: 1.375rem;
  font-weight: var(--fw-bold);
}

.main-wrapper__price {
  font-size: var(--fs-normal);
  color: var(--clr-price);
  padding: 1rem 0;
}

.main-wrapper__big-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: auto / span 2;
  height: 23.75rem;
  color: var(--clr-white);
  border-radius: 3px;
  border: 1px solid var(--clr-white-60);
  background-color: var(--big-card-bg);
}

.main-wrapper__title {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  letter-spacing: 0.1rem;
  color: var(--clr-white);
  margin-bottom: 0.5rem;
}

.main-wrapper__text {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  color: var(--clr-white-60);
}

.main-wrapper__btn {
  color: var(--clr-white-60);
  border: 1px solid var(--clr-white-60);
  background-color: var(--big-card-bg);
  cursor: pointer;
}

@media screen and (width < 1025px) {
  .main-wrapper__header {
    margin-bottom: 2rem;
  }

  .main-wrapper__main-container {
    gap: 1rem;
  }

  .main-wrapper__small-card,
  .main-wrapper__big-card {
    height: 20rem;
  }
}

@media screen and (width < 908px) {
  .main-wrapper__small-card {
    height: 15.625rem;
    grid-column: auto / span 2;
  }

  .main-wrapper__big-card {
    height: 13.5rem;
    grid-column: auto / span 4;
  }
}

/* Footer */
.footer-wrapper {
  background-image: url(./assets/footer-bg.svg);
  background-size: cover;
}

.footer-wrapper__footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: min(80%, 1100px);
  margin-inline: auto;
}

.footer-wrapper__sub-container {
  grid-column: 2;
  margin: 2rem;
  text-wrap: balance;
  padding: 1.5rem;
  background-color: var(--clr-white);
  border-radius: 3px;
}

.footer-wrapper__header {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
  margin-bottom: 1rem;
}

.footer-wrapper__title {
  font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  font-weight: var(--fw-bold);
  color: var(--clr-dark-80);
  margin-bottom: 0.5rem;
}

.footer-wrapper__text {
  font-size: 0.875rem;
  font-weight: var(--fw-medium);
  color: var(--clr-dark-60);
  margin-bottom: 1rem;
}

.footer-wrapper__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-wrapper__form-item {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.footer-wrapper__form-input {
  width: 100%;
  border: none;
}

.footer-wrapper__form-btn {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

@media screen and (width < 908px) {
  .footer-wrapper__sub-container {
    grid-column: auto / span 2;
    margin-inline: 0;
  }
}
